$primary-purple: #432c82;
$secondary-purple: #9c8add;
$purple: #c3b8ea;
$base-size: 16px;
$copy: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
$heading: 'Space Mono', 'Courier New', monospace;

@font-face {
    font-display: swap;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Space Mono'), url('fonts/space-mono-v6-latin-700.woff2') format('woff2'),
        url('fonts/space-mono-v6-latin-700.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 700;
    src: local('Space Mono'), url('fonts/space-mono-v6-latin-700italic.woff2') format('woff2'),
        url('fonts/space-mono-v6-latin-700italic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Work Sans'), url('fonts/work-sans-v8-latin-ext_latin-regular.woff2') format('woff2'),
        url('fonts/work-sans-v8-latin-ext_latin-regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Work Sans'), url('fonts/work-sans-v8-latin-ext_latin-700.woff2') format('woff2'),
        url('fonts/work-sans-v8-latin-ext_latin-700.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Work Sans'), url('fonts/work-sans-v8-latin-ext_latin-italic.woff2') format('woff2'),
        url('fonts/work-sans-v8-latin-ext_latin-italic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Work Sans'), url('fonts/work-sans-v8-latin-ext_latin-700italic.woff2') format('woff2'),
        url('fonts/work-sans-v8-latin-ext_latin-700italic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Tengwar';
    font-style: normal;
    font-weight: 400;
    src: local('Tengwar Annatar'), url('fonts/tengwar.woff') format('woff'), url('fonts/tengwar.woff2') format('woff2');
}

* {
    margin: 0;
}

body {
    background: #dbfff1;
    color: $primary-purple;
    font-family: $copy;
    font-size: $base-size;
    overflow: hidden;
}

section {
    left: 3vw;
    position: absolute;
    top: 3vw;
}

h1 {
    color: $primary-purple;
    font-family: $heading;
    font-style: italic;
    font-size: calc($base-size + 3.5vh);
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 0.3em;
}

a {
    display: inline-block;
    transform-origin: bottom left;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    &:hover {
        color: $primary-purple;
        transform: scale(1.05);
    }
}

svg {
    width: 100vw;
    height: 100vh;

    #Group-3_2_,
    #Fill-4_1_,
    #Fill-6_1_,
    #Fill-8,
    #Fill-10,
    #Fill-14_1_ {
        animation: wave 0.75s ease-in-out infinite alternate;
        transform-origin: 35% 65%;
    }

    #Fill-255,
    #Fill-267 {
        animation: wink 4s linear infinite;
    }

    #heart {
        stroke: $primary-purple;
        stroke-width: 0.3%;
        stroke-linecap: round;
        stroke-linejoin: bevel;
        animation: glow 5s infinite;
    }

    .st3,
    .st4,
    .st6,
    .st8,
    .st9,
    .st14,
    .st16,
    .st19,
    .st21,
    .st22,
    .st23,
    .st24,
    .st25,
    .st26,
    .st28,
    .st29,
    .st30,
    .st31,
    .st33,
    .st34,
    .st35,
    .st36,
    .st42,
    .st43,
    .st46,
    .st47 {
        fill-rule: evenodd;
        clip-rule: evenodd;
    }

    .st3 {
        fill: #fffad9;
    }

    .st4 {
        fill: #eff2f9;
    }

    .st6 {
        fill: #fed21c;
    }

    .st8 {
        fill: #ff97ff;
    }

    .st9 {
        fill: #f28dfd;
    }

    .st14 {
        fill: #afb5f0;
    }

    .st16 {
        fill: #a12bb6;
    }

    .st19 {
        fill: #c0bfe6;
    }

    .st21 {
        fill: #76a8fd;
    }

    .st22 {
        fill: $primary-purple;
    }

    .st23 {
        fill: #7e4dcd;
    }

    .st24 {
        fill: #c664e9;
    }

    .st25 {
        fill: #ff67ff;
    }

    .st26 {
        fill: #c2f5ff;
    }

    .st28 {
        fill: #3b2d7e;
    }

    .st29 {
        fill: $primary-purple;
    }

    .st30 {
        fill: #00023c;
        fill-opacity: 0.18;
    }

    .st31 {
        fill: #ff37b8;
        fill-opacity: 0.5;
    }

    .st32 {
        fill: #ffd0f6;
    }

    .st33 {
        fill: #2a0952;
    }

    .st34 {
        fill: #49358e;
    }

    .st35 {
        fill: #9387be;
    }

    .st36 {
        fill: #c4b8ee;
    }

    .st38 {
        fill: none;
        stroke: #2a0952;
        stroke-width: 1.296296e-2;
        stroke-miterlimit: 10;
    }

    .st42 {
        fill: #fcfcfc;
    }

    .st43 {
        fill: #6c5de0;
    }

    .st46 {
        fill: #8a60e2;
    }

    .st47 {
        fill: #ffb700;
    }
}

@keyframes wave {
    0% {
        transform: translateX(-0.6%) translateY(-1%) rotate(3deg);
    }

    100% {
        transform: translateX(-1.5%) translateY(-3%) rotate(10deg);
    }
}

@keyframes wink {

    0%,
    6%,
    22%,
    100% {
        opacity: 1;
    }

    8%,
    20% {
        opacity: 0;
    }
}

@keyframes glow {

    0%,
    100% {
        filter: drop-shadow(-0.75px 0px 60px rgb(128 24 127 / 0.5));
        stroke: rgb(128 24 127 / 0.5);
    }

    50% {
        filter: drop-shadow(-0.75px 0px 60px rgb(199 64 199 / 0.5));
        stroke: rgb(199 64 199 / 0.5);
    }
}